@model FileManagerModel
@{
    ViewBag.Title = "Arquivos";
}

@if(Model.Files != null)
{
    <h3>Imagens:</h3>
    <hr />
    var caminho = Model.PathImagensProduto;
    <div class="row">
        @foreach(var file in Model.Files)
        {
            <div class="col">
                <img src="~/@caminho/@file.Name" width="125" height="125" asp-append-version="true" />
                <div style="padding:10px; text-align:left">
                    <a asp-controller="AdminImagens" asp-action="Deletefile" asp-route-fname="@file.Name">Deletar</a>
                </div>
            </div>
        }
    </div>
}